---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<h2>2024</h2>
 <ul>
<li> Dec 16: Joint workshop on recent advances on Scientific computing, random matrices and data science - <i> HKUST, Hongkong, China.</i> <a href="https://cosmital.github.io/files/hkust_louart_handouts.pdf">slides</a></li>
<li> Nov 04-08: CIMI Workshop "Beyond classical regimes in statistical inference and machine learning" –  <i>International center of Mathematics and informatic of Toulouse, France.</i> <a href="https://cosmital.github.io/files/toulouse_louart_handouts.pdf">slides</a></li>
<li> Aug 12-16: Bernouilli – <i>Bochum, Germany.</i> <a href="https://cosmital.github.io/files/louart_bochum_handouts.pdf">slides</a></li>
<li> Jul 14-29: ICBS  Congress of Basic science – <i>Beijing, China.</i> <a href="https://www.youtube.com/watch?v=lcpUs3kYeZo">video recording</a></li>
<li> Jul 12-14: JCSDS Joint Conference on Statistics and data science in China – <i>Kunming, Yunnan, China.</i> <a href="https://cosmital.github.io/files/kunming_louart_handouts.pdf">slides</a></li>
<li> Jul 06-08: International conference on Statistics and Probability, IMS China  – <i>Yinchuan, Ningxia, China.</i> <a href="https://cosmital.github.io/files/kunming_louart_handouts.pdf">slides</a></li>
<li> Jul 10-15: Probability days – <i>Bordeaux, France.</i> <a href="https://cosmital.github.io/files/bordeaux_louart_handouts.pdf">slides</a></li>
<li> May 28: Huawei seminar – <i>Paris, France.</i> <a href="https://cosmital.github.io/files/huawei_louart_handouts.pdf">slides</a></li>
</ul> 

  <h2>2023</h2>
  <ul>
<li> Jun 25: RMTA Conference - <i>CUHK (Shenzhen) School of data science, Shenzhen, China.</i> </li>
<li> Feb 17: GDR MEGA  - <i>Institut de Mathématiques de Toulouse, France.</i> </li>
  </ul> 
  
 <h2>2022</h2>
   <ul>
<li> Oct 26: SDS Workshop Topics in Random matrix Theory -  <i>Chinese university of Hong Kong, Shenzhen, China. </i> <a href="https://cosmital.github.io/files/pres_shenzhen.pdf">slides</a> </li>
  </ul> 
   
  <h2>2021</h2>
    <ul>
<li> May 04: Huawei Seminar, 2nd Mini-workshop RMT and machine learning - <i>Huawei labs, Paris, France.</i> <a href="https://cosmital.github.io/files/pres_huaway.pdf">slides</a> </li>
  </ul> 
    
  <h2>2020</h2>
     <ul>
<li> Oct 23: GDR MEGA - <i>Institut de Mathématiques de Toulouse, France.</i> <a href="https://cosmital.github.io/files/pres_toulouse.pdf">slides</a> </li>
<li> Feb 18: Oxford Random matrix Seminar - <i>Oxford Mathematical Institute, Oxford,UK.</i> <a href="https://cosmital.github.io/files/pres_Oxford.pdf">slides</a></li>
  </ul> 
     
  <h2>2019</h2>
      <ul>
<li> Jun 20: Journées de l’IOPS  - <i>Parc Ornythologique, Le Teich, France.</i> <a href="https://cosmital.github.io/files/pre_IOPS.pdf">slides</a></li>
</ul> 

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
