---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h1>Linear Algebra</h1>
CUHK (Shenzhen), for undergraduate students <a href="https://yijiezcn.github.io/MAT2041-25S/">course website</a> - <i>Spring 2025</i>

<p>
<h1>Statistical Learning</h1>
CUHK (Shenzhen), for Statistic major, undergraduate students <a href="https://cosmital.github.io/files/statistical learning.zip">course materials</a> - <i>Fall 2024</i>

<p>
<h1>Matrix Analysis</h1>
CUHK (Shenzhen), for PhD/master students <a href="https://cosmital.github.io/files/matrix analysis content.zip">course materials</a> - <i>Spring 2024/2025</i>

<p>
<h1>Basics of OCaml</h1>
University Grenoble Alpes, L1 INF201, for Undergraduate students - <i>Spring 2021</i>

<p>
<h1>Mathematics</h1>
University Grenoble Alpes, IUT1 - L1 MPI, for Undergraduate students - <i>Spring 2020</i>

<p>
<h1>Linear Algebra</h1>
University Grenoble Alpes, IUT2 - L1 STID, for Undergraduate students - <i>Spring 2019</i>


<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
